.DS_Store
*/__pycache__/
*.png
*.npz
.ipynb_checkpoints/
PXCT/reconstructed_projections.mat
PXCT/tutorialPXCT_HERCULES.py
PXCT/PXCTtomogram.npz
PXCT/PXCTalignedprojections.npz
PXCT/PXCTcorrprojections.npz
ptycho_analysis